# Python virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Large datasets (optional)





